*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  user-select: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input,
textarea,
button,
select {
  -webkit-tap-highlight-color: transparent;
}

h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
  color: #444;
}
h6 {
  font-size: 0.9rem;
  color: #444;
}
p {
  font-size: 0.75rem;
  font-weight: lighter;
  color: #666;
  line-height: 0.75rem;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}
